body {
    margin: 0;
	color: #111;
	background-color: #fff;

    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-font-smoothing: antialiased;
}

label {
    letter-spacing: 1.33px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:link,
a:visited {
    color: #428BCA;
}

h1 {
    font-size: 2.5em;
    line-height: 1em;
}

h1 a {
    color: #111;
    text-decoration: none;
}

h2 {
    margin-top: 0;
    font-size: 2.2rem;
}

h3 {
    font-size: 1.8rem;
}

section {
    padding: 36px 0;
}

pre {
  white-space: pre-wrap;
}

.text-center {
	text-align: center;
}
.bg-grey {
    background-color: #f5f5f5;
}

.page {
    margin-left: auto;
    margin-right: auto;
    max-width: 850px;
    padding-left: 18px;
    padding-right: 18px;
}

.page-header {
	line-height: 40px;
	position: relative;
	border-bottom: 1px solid #ddd;
	padding: 30px;
	border-top: 1px solid #fff;
    text-align: center;

	/* background-image: url('/static/images/header_bg.jpg'); */
	background-image: url('https://i.imgur.com/MM4azwB.jpg');
	background-repeat: no-repeat;
	background-position: center 45%;
	background-size: cover;
}

.page-header.master {
    /*padding-bottom: 100px;*/
}

.page-header.master:before {
	content: " ";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0.5, rgba(0,0,0,0)), to(rgba(0,0,0,0.6)));
	background: -webkit-linear-gradient(rgba(0,0,0,0) 50%, rgba(0,0,0,0.6));
	background: -moz-linear-gradient(rgba(0,0,0,0) 50%, rgba(0,0,0,0.6));
	background: -o-linear-gradient(rgba(0,0,0,0) 50%, rgba(0,0,0,0.6));
	background: linear-gradient(rgba(0,0,0,0) 50%, rgba(0,0,0,0.6));
}

.page-header > * {
    position: relative;
    z-index: 2;
}

.page-header h3 {
	margin: 0 auto 50px auto;
    font-size: 26px;
    font-weight: normal;
	text-align: center;
	max-width: 520px;
    color: #fff;
}

.page-header.master .logo {
    float: none;
    margin: 60px auto;
    height: 200px;
}

.page-header .social {
    /*display: flex;*/
    /*justify-content: center;*/
    /*position: absolute;*/
    /*bottom: 30px;*/
    /*left: 50%;*/
    /*-webkit-transform: translateX(-50%);*/
    /*transform: translateX(-50%);*/
    padding-top: 10px;
    line-height: 20px;
    text-align: center;

    white-space: nowrap;
}

.page-header .social > * {
    margin: 0 10px;
    padding-top: 10px;
}

.page-header .social .fb_iframe_widget {
	line-height: 12px;
}

.page-header .credits {
	position: absolute;
	left: 50px;
	bottom: 30px;
    line-height: 20px;

	color: #fff;
	font-size: 10px;
}

.page-header .logo {
  margin: 0 20px 0 0;
	height: 45px;
    float: left;
}

iframe[src^="https://www.google.com/maps/embed/"] {
    display: block;
    border: 0;
    width: 100%;
    height: 300px;
}

.organizers h2 {
	font-size: 2.5rem;
	margin-bottom: 36px;
}

.organizers h4 {
	margin: 18px 0;
	font-size: 2rem;
	line-height: 45px;
}

.organizers	ul {
	display: flex;
    flex-direction: row;
	padding: 18px 0;
	margin-bottom: 36px;
}

.organizers ul li {
	flex: 1;
	list-style: none;
	padding: 18px 18px 10px 18px;
	text-align: center;

	background: #fff;
	margin-right: 10px;
}

.organizers ul li h5 {
	font-size: 18px;
    line-height: 18px;
	margin-top: 0;
	margin-bottom: 18px;
}

.organizers ul li iframe {
	display: inline-block;
	margin: 0 auto;
}


.organizers img {
    margin: 0 auto 5px;
    display: block;
    max-width: 100%;
    margin-bottom: 12px;
}

.next-meetup {
    text-align: center;
    margin-bottom: 60px;
}

.next-meetup__button {
    padding: 10px;
    font-size: 1.3rem;
    border: none;
    text-align: center;
    background-color: #FFF;
    background: #428BCA;
    color: #fff;
    display: block;
    width: 100%;
    max-width: 300px;
    margin: 10px auto;
}

.next-meetup__button:link,
.next-meetup__button:visited {
    color: #fff;
}

.past-events ul {
	margin: 0;
    padding: 0;
	list-style: none;
}

.past-events li {
    background: rgba(147, 128, 108, 0.1);
	padding: 20px;
	border-bottom: 1px solid #FFF;
}

.upcoming-meetings .lanyrd-target-guide {
	margin-top: 20px;
}

.upcoming-meetings .lanyrd-target-guide h1 {
	display: none;
}

.upcoming-meetings .lanyrd-target-guide .tags {
	display: none;
}

.upcoming-meetings .lanyrd-guide-embed > p > a {
	display: none;
}

.flickr_badge_wrapper {
	text-align: center;
    overflow: hidden;
}

.flickr_badge_image {
	margin: 5px;
    float: left;
}

.flickr_badge_image img {
	border: 1px solid black;
    height: 160px;
    width: auto !important;
}

.media .thumbs {
	margin-top: 20px;
	width: 100%;
	overflow: hidden;
	padding: 0;
}

.media .thumbs ul {
	list-style-type: none;
	padding: 0;
	margin: -10px;
	overflow: hidden;
}

.media .thumbs li {
	float: left;
    box-sizing: border-box;
    padding: 10px;
	width: 33%;
	height: 270px;
}

.media .thumbs img {
	border: 1px solid #000;
}

.media .thumbs ul li h5 {
	font-weight: bold;
    line-height: 20px;
	color: #000;
	margin: 10px 0 0;
}

.media .thumbs ul li p {
	font-size: 10px;
	color: #9DA2A8;
}

.media .thumbs p {
	margin: 0;
}

.media .thumb {
	width: 100%;
	background: url(http://a.vimeocdn.com/thumbnails/defaults/default.75x200.jpg);
}

.media .metadata {
	font-size: 12px;
}

.media .embed {
	background-color: #f5f5f5;
	height: 400px;
	width: 100%;
}

.media iframe {
  width: 100% !important;
}

.twitter-timeline {
	width: 100%;
}

.fb_iframe_widget{
    top: -10px;
    margin-right: 10px;
}


.lanyrd {
	padding: 0;
}

.lanyrd .lanyrd-target-schedule {
	margin-bottom: 20px;
	padding-left: 40px;
}

.lanyrd .lanyrd-target-attendees {
	margin-bottom: 20px;
}

@media (max-width: 700px) {
  .organizers ul {
    display: block;
  }

  .page-header {
    padding: 20px 2px;
    line-height: 20px;
  }

  .page-header.master .logo {
    margin: 30px auto;
  }

    .page-header .logo {
        margin: 0;
        height: 80px;
        float: none;
    }

  .page-header.master h3 {
    font-size: 20px;
  }

  .page-header .credits {
    position: static;
    text-align: center;
  }

}
