---
layout: default
title: CopenhagenJS
---

<header class="master bg-grey" role="navigation">
  <div class="container">
    <ul class="navigation">
      <li><a class="btn-white" href="/upcoming/">Upcoming events</a></li>
      <li><a class="btn-white" href="/past/">Past events</a></li>
      <li><a class="btn-white" href="/media/">Photos & Video</a></li>
      <li><a class="btn-white" href="/about/">About</a></li>
    </ul>

    <div class="logo">
      <img src="/images/cphjs.png" alt="CopenhagenJS logo" />
      <h3>CopenhagenJS is a monthly meetup for webdesigners & front-end developers in and around Copenhagen.</h3>
    </div>

    <div class="social">
      <a href="https://twitter.com/copenhagenjs" class="twitter-follow-button" data-show-count="true">Follow @copenhagenjs</a>
      <div class="fb-like" data-href="http://copenhagenjs.dk" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
    </div>
  </div>
  <a class="credits" href="http://www.flickr.com/photos/tenzer/8148224729/">Photo by Jeppe Toustrup</a>
</header>

<section class="container">
  <div class="next-meetup">
    <h2 class="text-center">Our next meetup will take place at</h2>
    {% for page in site.posts limit:1 %}
      {% if page.date %}
      <header>
        {% if page.lanyrd %}
          <a href="{{ page.lanyrd }}">{{ page.date | date: "%A, %B %d, %H:%M" }}</a>
        {% else %}
          {{ page.date | date: "%A, %B %d, %H:%M" }}
        {% endif %}
      </header>
      {% endif %}

      <div class="post">
        <div class="post_content">
          {% include host.html %}
          {{ page.content }}
        </div>
      </div>

      {% include lanyrd.html %}
    {% endfor %}
  </div>
</section>

<section class="bg-grey organizers">
  <div class="container">
    <h2 class="text-center">Organizers and sponsors</h2>
    <p>CopenhagenJS is a voluntarily community run by our three organizers. We are grateful to be sponsored by a few companies, so we can make video recordings of the meetups and buy beers, soda and snacks when our host's can't.</p>

    <h4 class="text-center">Meet our organizers</h4>
    <ul class="organizers">
      <li>
        <div class="inner">
          <h5>Kenneth Auchenberg</h5>
          <a class="image" href="http://www.kenneth.io" title="Kenneth Auchenberg">
            <img src="/images/organizers/kenneth.jpg" alt="Kenneth Auchenberg">
          </a>
          <a href="https://twitter.com/auchenberg" class="twitter-follow-button" data-show-count="true">Follow @auchenberg</a>
        </div>
      </li>
      <li>
        <div class="inner">
          <h5>Björn Söderqvist</h5>
          <a class="image" href="http://tap5.com/">
            <img src="/images/organizers/bjorn.jpg" alt="Björn Söderqvist">
          </a>
          <a href="https://twitter.com/bjorn_js" class="twitter-follow-button" data-show-count="true">Follow @bjorn_js</a>
        </div>
      </li>
      <li>
        <div class="inner">
          <h5>Peter Müller</h5>
          <a class="image" href="https://mntr.dk" title="Peter Müller">
            <img src="/images/organizers/peter.jpg" alt="Peter Müller">
          </a>
          <a href="https://twitter.com/_munter_" class="twitter-follow-button" data-show-count="true">Follow @_munter_</a>
        </div>
      </li>
    </ul>

    <h4 class="text-center">Our lovely sponsors</h4>
    <ul class="sponsors">
      <li>
        <div class="inner">
          <h5>Adobe</h5>
          <a class="image" href="http://adobe.com" title="Adobe">
            <img src="/images/sponsors/adobe.png" alt="Adobe">
          </a>
        </div>
      </li>
      <li>
        <div class="inner">
          <h5>JetBrains</h5>
          <a class="image" href="http://jetbrains.com" title="JetBrains">
            <img src="/images/sponsors/jetbrains.png" alt="JetBrains">
          </a>
        </div>
      </li>
      <li>
        <div class="inner">
          <h5>Iconfinder</h5>
          <a class="image" href="https://www.iconfinder.com" title="Iconfinder">
            <img src="/images/sponsors/iconfinder.svg" alt="Iconfinder">
          </a>
        </div>
      </li>
    </ul>
  </div>
</section>
