---
title: Past CopenhagenJS events
layout: page
---

<div class="past-events">
  <div class="container">
    <h2>Past CopenhagenJS events</h2>
    <p>Below is a past of our past events</p>

    <ul>
      {% for post in site.posts %}

        {% unless post.next %}
          <h3>{{ post.date | date: '%Y' }}</h3>
        {% else %}
          {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
          {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
          {% if year != nyear %}
            <h3>{{ post.date | date: '%Y' }}</h3>
          {% endif %}
        {% endunless %}

        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
  </div>

</div>