{% if page.lanyrd %}

{% assign lanyrd-url = page.lanyrd | split:"/" | join:"/" %}

<section class="lanyrd">
    <h3>Schedule</h3>

    <div class="lanyrd-target-schedule">
        <a href="{{ lanyrd-url }}/schedule/"
            class="lanyrd-schedule"
            data-lanyrd-abstracts
            data-lanyrd-truncateabstracts="50"
            data-lanyrd-speakers
            data-lanyrd-speakerlabels>
            Schedule for {{ page.title }} on Lanyrd
        </a>
    </div>

    <h3>Attendees</h3>

    <div class="lanyrd-target-attendees">
        Please visit the <a href="{{ lanyrd-url }}">Lanyrd page</a> and let us know if you're attending. It greatly helps us coordinate with the venue to set out chairs, drinks, etc.
    </div>

    <div class="lanyrd-target-participants">
        <a href="{{ lanyrd-url }}/attendees/"
            class="lanyrd-participants"
            data-lanyrd-limit="200">
            Attendee list for {{ page.title }} on Lanyrd
        </a>
    </div>

    <script id="raffle">
        function raffle() {
            var participants = document.querySelectorAll('.lanyrd-target-participants .avatar');
            var winner = participants[Math.floor(participants.length * Math.random())];

            var parent = winner.parentNode;
            parent.style.transition = 'all 1s';
            parent.style.margin = '90px';
            parent.style.zIndex = '10';
            parent.style.webkitTransform = 'scale(4) rotate(3turn)';
            parent.style.transform = 'scale(3) rotate(2turn)';
        }
    </script>

</section>
{% endif %}
