body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.6;
    margin: 0;
  	color: #111;
  	background-color: #fff;
}

b,strong {
    font-weight: bold
}

p {
    margin-top: 0
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 300;
    letter-spacing: -.1rem;
    margin-bottom: 1rem;
    margin-top: 0
}

h1 {
    font-size: 3rem;
    line-height: 1.2
}

h2 {
    font-size: 2.2rem;
    line-height: 1.25
}

h3 {
    font-size: 1.8rem;
    line-height: 1.3
}

h4 {
    font-size: 1.45rem;
    letter-spacing: -.08rem;
    line-height: 1.35
}

h5 {
    font-size: 1.2rem;
    letter-spacing: -.05rem;
    line-height: 1.5
}

h6 {
    font-size: 1rem;
    letter-spacing: 0;
    line-height: 1.4
}

label {
    letter-spacing: 1.33px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:link,
a:visited {
    color: #428BCA;
}

h1 a {
    color: #111;
}

section {
    padding: 36px 0;
}

blockquote,dl,figure,form,ol,p,pre,table,ul {
    margin-bottom: 2.0rem
}
pre {
  white-space: pre-wrap;
  font-size: 1.4rem;
}

.text-center {
	text-align: center;
}
.bg-grey {
    background-color: #f5f5f5;
}

.page {
    margin-left: auto;
    margin-right: auto;
    max-width: 850px;
    padding-left: 18px;
    padding-right: 18px;
}

.page-header {
	line-height: 40px;
	position: relative;
	border-bottom: 1px solid #ddd;
	padding: 30px;
	border-top: 1px solid #fff;
    text-align: center;

	/* background-image: url('/static/images/header_bg.jpg'); */
	background-image: url('https://i.imgur.com/MM4azwB.jpg');
	background-repeat: no-repeat;
	background-position: center 45%;
	background-size: cover;
}

.page-header.master {
    /*padding-bottom: 100px;*/
}

.page-header.master:before {
	content: " ";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0.5, rgba(0,0,0,0)), to(rgba(0,0,0,0.6)));
	background: -webkit-linear-gradient(rgba(0,0,0,0) 50%, rgba(0,0,0,0.6));
	background: -moz-linear-gradient(rgba(0,0,0,0) 50%, rgba(0,0,0,0.6));
	background: -o-linear-gradient(rgba(0,0,0,0) 50%, rgba(0,0,0,0.6));
	background: linear-gradient(rgba(0,0,0,0) 50%, rgba(0,0,0,0.6));
}

.page-header > * {
    position: relative;
    z-index: 2;
}

.page-header h3 {
	margin: 0 auto 50px auto;
    font-size: 26px;
    font-weight: normal;
	text-align: center;
	max-width: 520px;
    color: #fff;
}

.page-header.master .logo {
    float: none;
    margin: 60px auto;
    height: 200px;
}

.page-header .credits {
	position: absolute;
	left: 50px;
	bottom: 30px;
    line-height: 20px;

	color: #fff;
	font-size: 10px;
}

.page-header .logo {
  margin: 0 20px 0 0;
	height: 45px;
    float: left;
}

@media (max-width: 700px) {
  .page-header {
    padding: 20px 2px;
    line-height: 20px;
  }

  .page-header.master .logo {
    margin: 30px auto;
  }

    .page-header .logo {
        margin: 0;
        height: 80px;
        float: none;
    }

  .page-header.master h3 {
    font-size: 20px;
  }

  .page-header .credits {
    position: static;
    text-align: center;
  }

}
