body {
	color: #111;
	background-color: #fff;
	text-align: center;
	font-size: 15px;
}

.container {
	margin: 0 auto;
	text-align: left;
	width: 960px;
}


#main {
	display: -webkit-box;
	display: -moz-box;
	display: box;

	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	box-orient: horizontal;

	-webkit-box-align: stretch;
	-moz-box-align: stretch;
	box-align: stretch;

	-webkit-box-direction: normal;
	-moz-box-direction: normal;
	box-direction: normal;

	-webkit-box-pack: start;
	-moz-box-pack: start;
	box-pack: start;

	width: 100%;
}

	#main .content {
		-webkit-box-flex: 5;
		-moz-box-flex: 5;
		box-flex: 5;

		-webkit-box-ordinal-group: 1;
		-moz-box-ordinal-group: 1;
		box-ordinal-group: 1;

		margin: 0 40px 0 0;
	}

	#main .sidebar {
		-webkit-box-flex: 0;
		-moz-box-flex: 0;
		box-flex: 0;

		-webkit-box-ordinal-group: 1;
		-moz-box-ordinal-group: 1;
		box-ordinal-group: 1;

		width: 250px;
	}

#container > footer {
	color: #666;
	font-size: 12px;
	margin: 20px 0 0;
}



.content .post {
	margin-bottom: 60px;
}

.content .post:last-child {
	margin-bottom: 0px;
}

.content h1 {
	font-size: 1.8em;
}

.content h1 a {
	color: #111;
	text-decoration: none;
}

.content h1 a:hover {

}

.content h1 a:hover:after {
	color: #999;
	content: '#';
}

.content h2 {
	font-size: 1.4em;
}

.content .date, .content .date a{
	color:#777
}

.sidebar {
	font-size: 90%;
}

.sidebar h3 {
	margin: 20px 0 10px 0;
}

.sidebar p, .sidebar ul {
	margin: 0 0 5px;
}


p.promotejs {
	margin: 30px 0 0;
	text-align: center;
}

header {
	line-height: 50px;
	position: relative;
	border-bottom: 1px solid #ddd;
	padding: 30px 0 30px;
	background-color: #f5f5f5;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #ddd;
	margin-bottom: 30px;
}

header .nav {
	margin: 8px 0 0 0;
}

header h3 {
	margin: 0;
	font-size: 40px;
}

header h3 a {
	color: #000;
	position: relative;
	top: 3px;
}

header img {
	height: 50px;
}

footer {
 padding: 30px 0;
}

.upcoming-meetings .lanyrd-target-guide {
	margin-top: 20px;
}

.upcoming-meetings .lanyrd-target-guide h1 {
	display: none;
}

.upcoming-meetings .lanyrd-target-guide .tags {
	display: none;
}

.upcoming-meetings .lanyrd-guide-embed > p > a {
	display: none;
}
