body {
	color: #111;
	background-color: #fff;
	text-align: center;

    font-size: 62.5%;
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-font-smoothing: antialiased;

    line-height: 2rem;
}

a:link,
a:visited {
	color: #428BCA;
}

.text-center {
	text-align: center;
}

.bg-grey {
	background-color: #f5f5f5;
}

section {
	margin: 0 0 40px 0;
	padding: 20px;
}

section:last-of-type {
	margin: 0;
}

.container {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	max-width: 850px;
	width: auto !important; /* Overrides bootstrap default */

	font-size: 18px;
}


#main {
	width: 100%;
}

.content {
	margin-bottom: 60px;
}

.content .post:last-child {
	margin-bottom: 0px;
}

.content h1 {
	font-size: 1.8em;
}

.content h1 a {
	color: #111;
	text-decoration: none;
}

.content h1 a:hover {

}

.content h1 a:hover:after {
	color: #999;
	content: '#';
}

.content h2 {
	margin-top: 0;
	font-size: 2rem;
}

.content .date,
.content .date a {
	color:#777
}

header {
	line-height: 50px;
	position: relative;
	border-bottom: 1px solid #ddd;
	padding: 30px 0 30px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #ddd;

	background-image: url('/images/header_bg.jpg');
	background-repeat: no-repeat;
	background-position: center 45%;
	background-size: cover;

	position: relative;
}

header.master:before {
	content: " ";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0.5, rgba(0,0,0,0)), to(rgba(0,0,0,0.6)));
	background: -webkit-linear-gradient(rgba(0,0,0,0) 50%, rgba(0,0,0,0.6));
	background: -moz-linear-gradient(rgba(0,0,0,0) 50%, rgba(0,0,0,0.6));
	background: -o-linear-gradient(rgba(0,0,0,0) 50%, rgba(0,0,0,0.6));
	background: linear-gradient(rgba(0,0,0,0) 50%, rgba(0,0,0,0.6));
}

.btn-white {
	border: 1px solid #fff;
	border-radius: 0;
	padding: 10px 20px;
	font-weight: bold;
	background-color: rgba(0, 0, 0, 0.5);

	transition: all 0.2s;
}

.btn-white:hover {
	text-decoration: none;
	background: #f9e036;
	color: #444;
}

header .container {
	position: relative;
	z-index: 2;
}
header .navigation {
	text-align: center;
}

header .navigation li {
	float: none;
	display: inline-block;
	margin-right: 30px;
	text-transform: uppercase;
}

header .navigation li a {
	color: #fff;
	background: rgba(0,0,0,0.4);
}

header h3 {
	margin: 0;
	font-size: 40px;
	color: #fff;
}

header .logo {
	margin: 0 auto;
	text-align: center;
}

header .logo img {
	height: 200px;
	margin: 60px 0;
}

header .logo h3 {
	margin: 0 auto;
	text-align: center;
	font-weight: normal;
	font-size: 26px;
	max-width: 500px;
}

header .social {
	text-align: center;
	margin: 30px auto 0 auto;
}

header .social .fb_iframe_widget {
	line-height: 12px;
}

header .credits {
	position: absolute;
	left: 20px;
	bottom: 0;

	color: #fff;
	font-size: 10px;
}

header.page .logo {
	margin: 0;
	float: left;
}

header.page .logo img {
	margin: 0;
	height: 40px;
}

.post_content iframe[src^=https://www.google.com/maps/embed/] {
    display: block;
    width: 100% !important;
    height: 300px !important;
}

footer {
 padding: 30px 0;
}


.organizers {
	padding: 40px;
}

.organizers h2 {
	font-size: 2.5rem;
	margin-bottom: 40px;
}

.organizers h4 {
	margin: 20px 0;
	font-size: 2rem;
	line-height: 45px;
}

.organizers	ul {
	display: flex;
	padding: 20px 0;
	margin-bottom: 80px;
}

.organizers ul li {
	flex: 1;
	list-style: none;
	padding: 20px;
	text-align: center;

	background: #fff;
	margin-right: 10px;

}

.organizers ul li h5 {
	font-size: 18px;
	margin-top: 0;
	margin-bottom: 20px;
}

.organizers ul li iframe {
	display: inline-block;
	margin: 0 auto;
}

.organizers ul li .image {
	display: block;
	margin-bottom: 20px;
}

.organizers ul li .image img {
	display: inline-block;
}

.next-meetup header {
	background: #428BCA;
	color: #fff;
	padding: 20px;
	font-size: 30px;
	text-align: center;
	margin: 20px 0;
}

.next-meetup header a {
	display: block;
	margin: -20px;
	padding: 20px;
	color: white;
}

.past-events ul {
	margin: 0;
}

.past-events li {
	background: rgba(147, 128, 108, 0.1);
	list-style: none;
	padding: 20px;
	border-bottom: 1px solid #FFF;
}

.upcoming-meetings .lanyrd-target-guide {
	margin-top: 20px;
}

.upcoming-meetings .lanyrd-target-guide h1 {
	display: none;
}

.upcoming-meetings .lanyrd-target-guide .tags {
	display: none;
}

.upcoming-meetings .lanyrd-guide-embed > p > a {
	display: none;
}

.flickr_badge_wrapper {
	text-align: center;
}

.flickr_badge_image {
	margin: 10px;
	height: 240px;
	width: 240px;
	display: inline-block;
}

.flickr_badge_image img {
	border: 1px solid black;
}

.videos .thumbs {
	margin-top: 20px;
	width: 100%;
	overflow: hidden;
	padding: 0;
}

.videos .thumbs ul {
	list-style-type: none;
	padding: 10px;
	margin: 0;
	overflow: hidden;
}

.videos .thumbs ul li {
	float: left;
	width: 33%;
	height: 270px;
}

.videos .thumbs ul li .inner {
	margin-right: 20px;
	margin-bottom: 15px;
}

.videos .thumbs ul li img {
	border: 1px solid #000;
	margin-bottom: 10px;
}

.videos .thumbs ul li h5 {
	font-weight: bold;
	color: #000;
	margin: 0;
}

.videos .thumbs ul li p {
	font-size: 10px;
	color: #9DA2A8;
}

.videos .thumbs p {
	margin: 0;
}

.videos .thumb {
	border: 0;
	float: left;
	width: 295px;
	height: 166px;
	background: url(http://a.vimeocdn.com/thumbnails/defaults/default.75x200.jpg);
	margin-right: 10px;
}

.videos .metadata {
	font-size: 12px;
}

.videos .embed {
	background-color: #f5f5f5;
	height: 400px;
	width: 100%;
}

.videos iframe {
  width: 100% !important;
}

.twitter-timeline {
	width: 100%;
}


.lanyrd {
	padding: 0;
}

.lanyrd .lanyrd-target-schedule {
	margin-bottom: 20px;
	padding-left: 40px;
}

.lanyrd .lanyrd-target-attendees {
	margin-bottom: 20px;
}

@media (max-width: 700px) {

  .organizers	ul {
    display: block;
  }

  .organizers ul li .image {
  	height: auto;
  }

}
