body {
	color: #111;
	background-color: #fff;
	text-align: center;
	font-size: 15px;
}

a:link,
a:visited {
	color: #428BCA;
}

.text-center {
	text-align: center;
}

.bg-grey {
	background-color: #f5f5f5;
}

section {
	margin: 0 0 40px 0;
	padding: 20px;
}

section:last-of-type {
	margin: 0;
}

.container {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	max-width: 850px;
	width: 100%;
}


#main {
	width: 100%;
}

.content {
	margin-bottom: 60px;
}

.content .post:last-child {
	margin-bottom: 0px;
}

.content h1 {
	font-size: 1.8em;
}

.content h1 a {
	color: #111;
	text-decoration: none;
}

.content h1 a:hover {

}

.content h1 a:hover:after {
	color: #999;
	content: '#';
}

.content h2 {
	margin-top: 0;
	font-size: 2rem;
}

.content .date,
.content .date a {
	color:#777
}

header {
	line-height: 50px;
	position: relative;
	border-bottom: 1px solid #ddd;
	padding: 30px 0 30px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #ddd;

	background-image: url('/images/header_bg.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;

	position: relative;
}

.btn-white {
	border: 1px solid #fff;
	border-radius: 0;
	padding: 10px 20px;
}

.btn-white:hover {
	background: #f9e034;
	text-decoration: none;
}

header .navigation {
	text-align: center;
}

header .navigation li {
	float: none;
	display: inline-block;
	margin-right: 30px;
	text-transform: uppercase;
}

header .navigation li a {
	color: #fff;
}

header h3 {
	margin: 0;
	font-size: 40px;
	color: #fff;
}

header .logo {
	margin: 0 auto;
	text-align: center;
}

header .logo img {
	height: 200px;
	margin: 60px 0;
}

header .logo h3 {
	margin: 0 auto;
	text-align: center;
	font-weight: normal;
	font-size: 20px;
	max-width: 500px;
}

header .social {
	text-align: center;
	margin: 30px auto 0 auto;
}

header .credits {
	position: absolute;
	left: 20px;
	bottom: 0;

	color: #fff;
	font-size: 10px;
}

header.page .logo {
	margin: 0;
	float: left;
}

header.page .logo img {
	margin: 0;
	height: 40px;
}

footer {
 padding: 30px 0;
}



.organizers h4 {
	margin-top: 20px;
}

.organizers	ul {
	display: flex;
	padding: 20px 0;
}

.organizers ul li {
	flex: 1;
	list-style: none;
	padding: 20px;
	text-align: center;

	background: #fff;
	margin-right: 10px;

}

.organizers ul li iframe {
	display: inline-block;
	margin: 0 auto;
}

.organizers ul li .image {
	height: 225px;
	line-height: 225px;
	display: block;
	margin-bottom: 20px;
}

.organizers ul li .image img {
	display: inline-block;
}

.next-meetup header {
	background: #428BCA;
	color: #fff;
	padding: 20px;
	font-size: 30px;
	text-align: center;
	margin: 20px 0;
}

.past-events ul {
	margin: 0;
}

.past-events li {
	background: rgba(147, 128, 108, 0.1);
	list-style: none;
	padding: 20px;
	border-bottom: 1px solid #FFF;
}

.upcoming-meetings .lanyrd-target-guide {
	margin-top: 20px;
}

.upcoming-meetings .lanyrd-target-guide h1 {
	display: none;
}

.upcoming-meetings .lanyrd-target-guide .tags {
	display: none;
}

.upcoming-meetings .lanyrd-guide-embed > p > a {
	display: none;
}

.flickr_badge_wrapper {
	text-align: center;
}

.flickr_badge_image {
	margin: 10px;
	height: 240px;
	width: 240px;
	display: inline-block;
}

.flickr_badge_image img {
	border: 1px solid black;
}

.videos .thumbs {
	margin-top: 20px;
	width: 100%;
	overflow: hidden;
	padding: 0;
}

.videos .thumbs ul {
	list-style-type: none;
	padding: 10px;
	margin: 0;
	overflow: hidden;
}

.videos .thumbs ul li {
	float: left;
	width: 33%;
	height: 270px;
}

.videos .thumbs ul li .inner {
	margin-right: 20px;
	margin-bottom: 15px;
}

.videos .thumbs ul li img {
	border: 1px solid #000;
	margin-bottom: 10px;
}

.videos .thumbs ul li h5 {
	font-weight: bold;
	color: #000;
	margin: 0;
}

.videos .thumbs ul li p {
	font-size: 10px;
	color: #9DA2A8;
}

.videos .thumbs p {
	margin: 0;
}

.videos .thumb {
	border: 0;
	float: left;
	width: 295px;
	height: 166px;
	background: url(http://a.vimeocdn.com/thumbnails/defaults/default.75x200.jpg);
	margin-right: 10px;
}

.videos .metadata {
	font-size: 12px;
}

.videos .embed {
	background-color: #f5f5f5;
	height: 400px;
	width: 100%;
}

.videos iframe {
  width: 100% !important;
}

.twitter-timeline {
	width: 100%;
}
