<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ page.title }} | CopenhagenJS</title>
		{% if page.description %}
			<meta name="description" content="{{ page.description }}">
		{% endif %}

		{% if page.author %}
			<meta name="author" content="{{ page.author }}" />
		{% else %}
			<meta name="author" content="CopenhagenJS" />
		{% endif %}

		<link rel="stylesheet" href="/stylesheets/bootstrap.css" />
		<link rel="stylesheet" href="/stylesheets/bootstrap-responsive.css" />
		<link rel="stylesheet" href="/stylesheets/style.css" />

		<meta name="robots" content="index,follow" />
		<meta name="mssmarttagspreventparsing" content="true" />

		<!-- TODO: use FeedBurner -->
		<link href="/atom.xml" type="application/atom+xml" rel="alternate" title="CopenhagenJS ATOM Feed" />
	</head>
	<body>

			<header class="masthead" role="navigation">
				<div class="container">
					<ul class="nav nav-pills pull-right">
						<li><a href="/">Blog</a></li>
						<li><a href="/archives.html">Archives</a></li>
						<li><a href="/about/">About</a></li>
					</ul>
					<h3>
						<img src="/images/logo.png"/>
						<a href="/" class="home">CopenhagenJS</a>
					</h3>
				</div>
			</header>

		<div class="container">

			<div id="main" role="main">
				<div class="content">
					{{ content }}
				</div>
				<div class="sidebar">
          {% include upcoming.md %}

          <h3>Announcements</h3>
					<p>
						All announcements will be crossposted on <a href="/">copenhagenjs.dk</a>, the
						<a href="http://groups.google.com/group/copenhagenjs/">Google Group</a> and on
						<a href="https://twitter.com/#!/CopenhagenJS">Twitter</a>.
					</p>

					<h3>Elsewhere</h3>
					<ul>
						<li><a href="https://twitter.com/copenhagenjs">Twitter</a></li>
						<li><a href="http://groups.google.com/group/copenhagenjs/">Mailinglist</a></li>
						<li><a href="irc://irc.freenode.net/copenhagenjs">#copenhagenjs on irc.freenode.net</a></li>
					</ul>

					<p class="promotejs">
						<a href='https://developer.mozilla.org/en/JavaScript' title='JS API'><img src='/images/promotejsv.gif' height='280' width='160' alt='JS API'/></a>
					</p>
				</div>
			</div>
			<footer>
				&copy; CopenhagenJS, unless otherwise noted.
			</footer>
	  	</div>
		<script>
			var _gaq = _gaq || [];
		 	_gaq.push(['_setAccount', 'UA-24633486-1']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
		<script src="http://cdn.lanyrd.net/badges/embed-v1.min.js"></script>
	</body>
</html>
