---
layout: default
---

<header class="page bg-grey" role="navigation">
  <div class="container">
    <div class="logo">
      <a href="/"><img src="/images/cphjs.png"/></a>
    </div>
    <ul class="navigation">
      <li><a class="btn-white" href="/upcoming/">Upcoming events</a></li>
      <li><a class="btn-white" href="/past/">Past events</a></li>
      <li><a class="btn-white" href="/media/">Photos & Video</a></li>
      <li><a class="btn-white" href="/about/">About</a></li>
    </ul>
  </div>
</header>


<section class="page">
  {{ content }}
</section>